*{margin:0; padding:0; box-sizing:border-box}
	header{background:#04AA6D; color:white; width:80vw; border-radius:10px 10px; padding:2%; margin:auto; margin-top:1%}
	
	.menU{width:20vw; margin-left:10vw; min-width:150px; margin-top:1%}
	ul{list-style:none; left:-20px}
	li{background:#F0F0F0; margin:1%; padding:4%; border-radius:5px 5px}
	li:hover{background:white}
	.sTyle1{background:#04AA6D; color:white; font-weight:bold;}
	
	.mainT{width:55vw; margin-left:33vw; margin-top:-17vw;}
	.mainT p{line-height:1.5;padding:2% 0 1% 0;}
	.mainT a{color:black}
	.mainT a:hover{text-decoration:none}
	
	.sideB{background:#32a4e7; width:80vw; margin:auto; color:white; border-radius:10px 10px; padding:2%; margin-top:1%}
	.sideB p{line-height:1.5;padding:2% 0 0 0}
	
	footer{background:#E0E0E0; color:black; width:80vw; border-radius:10px 10px; padding:2%; margin:auto; margin-top:1%; 
		font-size:12px;}
	
@media only screen and (max-width: 680px){
	.mainT{margin-left:40vw; margin-top:-23vw;}}

@media only screen and (max-width: 520px){
	.mainT{margin-left:45%; margin-top:-32vw;}}
