*{margin:0; padding:0; box-sizing:border-box}
	body{background:black}
	
	header{ color:#84c754;; padding:2% 0 2% 0; margin-top:1%; font-family:Courier New; margin-left:5vw}
	
	.bobyB{position: relative; overflow: auto;}
	
	.menU{}
	ul{margin-left:7vw}
	li{color:#84c754; padding:5px 0 0 0; margin:5px 5px}
	li:hover{color:white}
	.sTyle4{color:white; font-weight:bold}
	
	.mainT{color:#4CAF50; line-height: normal; font-family: Courier New; padding:25px 0 15px 25px;}
	.mainT p{line-height:1.5;padding:10px 0 10px 0; color:#84c754}
	.mainT a{color:white}
	.mainT a:hover{color:#4CAF50}
	
	.sideB{color:white; height:150px; position:absolute; top:0;right:0; border:1px solid white; width:420px; 
		font-family:Courier New; padding:3% 0 0 2%; margin-right:5vw; border-radius:5px}
	.sideB p{padding:2% 0 0 0; color:white; line-height:1; font-size:15px}
	
	footer{color:white; border:1px solid white; font-size:12px; line-height:1.4; width:96vw; margin-left:auto; margin-right:auto; text-align:center; border-radius:5px; padding:1% 2% 1% 2%}
	
@media only screen and (max-width: 630px){
	.sideB{position:static; width:96vw; margin-left:auto; margin-right:auto; margin-bottom:5px; padding:5% 0 0 2%;}}


