*{margin:0; padding:0; box-sizing:border-box}
	
	header{ color:#4CAF50; padding:2% 0 2% 0; margin-top:1%; font-family:Arial; margin-left:5vw}
	header p{color:black; padding:2% 0 0 0}
	
	.menU{}
	ul{list-style:none; margin-left:5vw}
	li{background:#808080; color:white; text-align:center; display:inline-block; width:200px; height:30px; padding:0.5% 0 0 0; 
		margin:5px 5px}
	li:hover{background:black; color:white}
	.sTyle3{background:#4CAF50; color:white}
	
	.mainT{width:90vw; padding:1% 0 0 1%; color:#4CAF50; margin-left:auto; margin-right:auto}
	.mainT p{line-height:1.5;padding:2% 0 1% 0; color:black}
	.mainT a{color:black}
	.mainT a:hover{color:#4CAF50}
	
	.sideB{background:#f1f1f1;color:#4CAF50; padding:3% 0 3% 2%; border:1px solid #d4d4d4; width:90vw; margin-left:auto; 
		margin-right:auto; margin-top:2%}
	.sideB p{padding:2% 0 0 0; color:black; line-height:1.5}
	
	footer{padding:2%; font-size:12px; line-height:1; margin-bottom:5vw; width:90vw; margin-left:auto; margin-right:auto; 
		text-align:center}
	
@media only screen and (max-width: 805px){}

@media only screen and (max-width: 500px){}
